:root {
  --hitam-pekat: #0f0f0f;
  --lima-neon: #ccff00;
}
body {
  padding: 0;
  margin: 0;
}
/* container-hero */
.container-hero {
  background-image: url(../img/header\ sepatu.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: grid;
}
/* hero text */
.hero-text {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  justify-content: center;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  gap: 1rem;
}
.hero-text h1 {
  color: #ffffff;
  font-family: "Fira Code";
  font-weight: 900;
  font-size: 40px;
  font-style: italic;
}
.hero-text p {
  line-height: 1.5rem;
}
.hero-text span {
  color: var(--lima-neon);
  font-weight: bolder;
}
.hero-text .button a {
  text-decoration: none;
  background-color: var(--lima-neon);
  color: #000000;
  border-radius: 4px;
  padding: 15px 40px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.5s;
}
.button a:hover {
  background-color: #ffffff;
  transform: scale(1.05);
}
/* Navigation bar */
.navbar {
  top: 0;
  position: sticky;
  border-top: #ccff00 solid 3px;
  color: #ffffff;
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr 0.5fr;
}
.toggle-menu {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 1.5rem;
  color: var(--lima-neon);
  display: none;
}
.logo-brand {
  display: flex;
  align-items: center;
}
.navbar .logo-brand .headline {
  color: var(--lima-neon);
}
.navbar .logo-brand h1 {
  font-family: sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: x-large;
  text-transform: capitalize;
  margin-left: 10px;
}
.navbar nav {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 10px;
  gap: 1rem;
  padding: 10px 0;
}
.navbar nav .signup {
  background-color: var(--lima-neon);
  color: #000000;
  padding: 5px;
}
.navbar nav .home {
  color: var(--lima-neon);
  padding: 5px;
}
.navbar nav a {
  color: #ffffff;
  font-weight: 800;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: 0.67em;
  transition: all 0.5s ease;
}
/* services */
.container-services {
  background-color: #1a1a1a;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 50px 30px;
  gap: 1rem;
}
.container-services .service-box {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #212020;
  display: grid;
  grid-auto-flow: row;
  gap: 1px;
}

.container-services h2 {
  grid-column: 1 / -1;
  color: var(--lima-neon);
  font-family: sans-serif;
}
.service-box i {
  color: var(--lima-neon);
  font-size: xx-large;
  font-weight: 500;
}
.service-box h3 {
  font-family: "fira code";
}
.service-box p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.service-box span {
  color: var(--lima-neon);
  font-weight: bolder;
}
.other-products {
  color: var(--lima-neon);
  background-color: var(--hitam-pekat);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 50px 30px;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.other-products .products:nth-child(2) {
  background-image: url(../img/baju.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -150px;
  display: flex;
  height: 250px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}
.other-products .products:nth-child(3) {
  background-image: url(../img/alat.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -150px;
  display: flex;
  height: 250px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}
.other-products .products:nth-child(4) {
  background-image: url(../img/sepatu\ gunung.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -150px;
  display: flex;
  height: 250px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}
.other-products .products:nth-child(5) {
  background-image: url(../img/sepatu\ boots.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -90px;
  display: flex;
  height: 250px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}
.other-products .products:nth-child(6) {
  background-image: url(../img/sepatu\ pantofel.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -90px;
  display: flex;
  height: 250px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}
.other-products .products:nth-child(7) {
  background-image: url(../img/sepatu\ futsal.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -70px;
  display: flex;
  height: 250px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}
.other-products h2 {
  font-family: sans-serif;
  grid-column: 1 / -1;
}
.other-products .image-product {
  border-radius: inherit;
  height: 150px;
  flex: 2;
}
.other-products .description-product {
  width: 460px;
  background-color: var(--hitam-pekat);
  flex: 1;
}
.other-products .products p,
h3 {
  margin: 10px 10px;
}
.other-products .description-product p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 1.6;
}
.other-products .description-product h3 {
  color: var(--lima-neon);
  font-family: "Fira Code";
}
/* footer */
footer {
  background-color: #1a1a1a;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 50px 30px;
  margin: auto;
  gap: 3rem;
}
footer .footer-text h2 {
  font-family: "Fira Code";
  font-weight: 900;
  font-style: italic;
  color: white;
  font-size: xx-large;
}
footer .footer-text h2 span {
  color: var(--lima-neon);
  font-weight: bolder;
}
.footer-text {
  display: grid;
  color: white;
  align-items: center;
  justify-content: center;
}
.footer-link {
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: none;
  border-left: #212020 solid 3px;
  padding-left: 30px;
}
.footer-link:nth-child(3) i {
  color: #ccff00;
}
.footer-link:nth-child(3) a {
  font-size: medium;
}
.footer-link p {
  line-height: 1.65rem;
}
.footer-link h2 {
  color: var(--lima-neon);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.footer-link .input-email {
  display: flex;
  gap: 0.5rem;
}
.footer-link a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer-link input {
  border: 1px solid var(--lima-neon);
  padding: 5px;
  background: transparent;
}
.footer-link input::placeholder {
  color: #ffffff;
}
.footer-link button {
  padding: 5px;
  background-color: #ccff00;
  border: none;
  cursor: pointer;
}
/* breakpoints handphone potrait */
@media screen and (max-width: 480px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    grid-template-areas:
      "brand toggle"
      "nav nav";
    box-sizing: border-box;
    border: none;
    border-bottom: #ccff00 solid 3px;
  }
  .navbar nav {
    margin-right: 0;
    grid-area: nav;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
  }
  .navbar nav a {
    margin-bottom: 10px;
  }
  .logo-brand {
    grid-area: brand;
  }
  .toggle-menu {
    display: block;
    justify-content: end;
  }
  .navbar .hidden {
    display: none;
  }
  .hero-text {
    box-sizing: border-box;
    text-align: center;
    margin-left: 0;
  }
  .hero-text p {
    text-align: center;
  }
  .hero-text .button {
    display: grid;
    width: 300px;
    margin: 0 auto;
  }
  .container-services {
    grid-template-columns: row;
  }
  .container-services h2 {
    text-align: center;
  }
  footer,
  .footer-link {
    border-bottom: #212020 solid 3px;
    border-left: none;
  }
  footer .footer-text {
    grid-column: 1 / -1;
  }
  .other-products h2 {
    text-align: center;
  }
  .other-products {
    padding: 50px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
  footer .footer-text {
    grid-column: 1 / -1;
  }
}
